@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c5c3c3;
}

::-webkit-scrollbar-track {
  padding-left: 1px;
  padding-right: 1px;
  background-color: unset !important;
  border-radius: 100px !important;
}
